:root {
  --font-family: 'Chivo', sans-serif;
  --heading-weight: 800;

  --text-color: #fff;
  --accent-color: #ffa967;
  --bg: #242424;

  --space-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  --space-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  --space-lg: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  --space-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  --space-xxl: clamp(3.375rem, 1.6875rem + 7.5vw, 7.5rem);

  --grid-gutter: clamp(1rem, 0.1818rem + 3.6364vw, 3rem);

  /* @link https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1rem, 1.4rem + 0.6vw, 4rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.4rem, 2.384rem + 1.8461vw, 3.8147rem);
  --step-6: clamp(3rem, 2.7828rem + 2.5621vw, 8rem);
}
