:root {
  --font-family: 'Chivo', sans-serif;
  --heading-weight: 800;

  --text-color: #fff;
  --accent-color: #ffa967;
  --bg: #242424;

  /* @link https://utopia.fyi/space/calculator?c=340,16,1.2,1240,20,1.25,5,2,&s=1,2|4|8,s-l&g=s,l,xl,12 */

  --space-xs: clamp(1rem, 0.9056rem + 0.4444vw, 1.25rem);
  --space-s: clamp(1rem, 0.9056rem + 0.4444vw, 1.25rem);
  --space-m: clamp(2rem, 1.8111rem + 0.8889vw, 2.5rem);
  --space-l: clamp(4rem, 3.6222rem + 1.7778vw, 5rem);
  --space-xl: clamp(8rem, 7.2444rem + 3.5556vw, 10rem);

  --grid-gutter: var(--space--s);

  /* @link https://utopia.fyi/type/calculator?c=340,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--2: clamp(0.6944rem, 0.6546rem + 0.1877vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7704rem + 0.2963vw, 1rem);
  --step-0: clamp(1rem, 0.9056rem + 0.4444vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0631rem + 0.6444vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.2462rem + 0.9122vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.4585rem + 1.2683vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.7041rem + 1.7389vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 1.9872rem + 2.358vw, 3.8147rem);
}
