pre {
  background-color: #eee;
  font-size: 11px;
  font-family: monospace;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: $fz--desktop;
  font-family: $ff--base;
  font-family: $ff--base;
  line-height: $lh--base;
}

a {
  color: inherit;
}
